.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.accordion-carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.accordion-page {
    display: none;
    width: 100%;
    transition: transform 0.5s ease;
}

.accordion-page.active {
    display: block;
}

.col-sm-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-button {    
    font-size: 24rem; 
    text-align: center;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    padding: 0; 
}